# .gitignore

venv/
.vscode/
__pycache__/
other/
*.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/


# AWS credentials
.env
.auth_env
tests/.client_env
api-auth-example/
ptr_api/config.ini
