# .gitignore

venv/
.vscode/
__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/


# AWS credentials
.auth_env
tests/.client_env
api-auth-example/