files:
  "/etc/httpd/conf.d/wsgihacks.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIPassAuthorization On

container_commands:
  03wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

    
option_settings:
  aws:elasticbeanstalk:application:environment:
    LC_ALL: en_US.utf8
    FLASK_APP: application.py
    auth_REGION: us-west-2
    client_REGION: us-west-2